/* ==============================================

CSS Variables
---------------------------------------------- */

:root {
    /* global */
    --font-f: "Helvetica";

    /* colour: */
    --bg-colour: #faff81;
    --txt-colour: #7f055f;
    --link-colour: #c2aff0;
    --col4: #046865;
    --col5: #b8d8d8;

    /* grid */
    --grid-width-min: 70vw;
    --grid-width-max: 95vw;
}

/* ==============================================

Base Styles

--------------------------------------------- */

/* teeny */

* {
    box-sizing: border-box;
    font-family: var(--font-f);
}

body {
    background-color: var(--bg-colour);
}

.grid {
    margin: auto;
    width: var(--grid-width-max);

    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: 22px;
    gap: 12px;
}
.gridfulltop {
    grid-row: 1 / -1;
    grid-column: 1 /-1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: calc(50% - 50vw);
}
h1 {
    color: var(--txt-colour);
    margin: 0px 0px;
    font-size: 32px;
}

p {
    color: var(--txt-colour);
    margin: 0px 0px;
    font-size: 6px;
}

a {
    color: var(--link-colour);
}

/* Classes */

/* mobile */

@media (min-width: 350px) {
    * {
        box-sizing: border-box;
        font-family: var(--font-f);
    }

    body {
        background-color: var(--bg-colour);
    }

    .grid {
        margin: auto;
        width: var(--grid-width-max);

        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-auto-rows: 48px;
        gap: 12px;
    }
    .gridfulltop {
        grid-row: 1 / -1;
        grid-column: 1 /-1;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-top: calc(50% - 50vw);
    }
    h1 {
        color: var(--txt-colour);
        margin: 0px 0px;
        font-size: 48px;
    }

    p {
        color: var(--txt-colour);
        margin: 0px 0px;
        font-size: 12px;
    }

    a {
        color: var(--link-colour);
    }

    /* Classes */

    .child {
        display: grid;
        grid-template-columns: subgrid;
    }
}

/* desktop */

@media (min-width: 768px) {
    * {
        box-sizing: border-box;
        font-family: var(--font-f);
    }

    body {
        background-color: var(--bg-colour);
    }

    .grid {
        margin: auto;
        width: var(--grid-width-min);

        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-auto-rows: 64px;
        gap: 12px;
    }
    .gridfulltop {
        grid-row: 1 / -1;
        grid-column: 1 /-1;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-top: calc(50% - 50vw);
    }

    h1 {
        color: var(--txt-colour);
        margin: 0px 0px;
        font-size: 68px;
    }

    p {
        color: var(--txt-colour);
        margin: 0px 0px;
        font-size: 18px;
    }

    a {
        color: var(--link-colour);
    }

    /* Classes */

    .child {
        display: grid;
        grid-template-columns: subgrid;
    }
}
