/* ==============================================

CSS Variables
---------------------------------------------- */

:root {
    /* global */
    --font-f: "Helvetica";

    /* colour */

    /* full palette:
    --honeydew: #e2efdeff;
    --ash-grey: #afd0bfff;
    --grey-olive: #808f87ff;
    --faded-copper: #9b7e46ff;
    --sunlit-clay: #f4b266ff;
    */

    --bg-colour: #f4b266ff;
    --txt-colour: #9b7e46ff;
    --link-colour: #9b7e46ff;
    --col4: #046865;
    --col5: #e2efdeff;

    /* grid */
    --grid-width-min: 56vw;
    --grid-width-max: 95vw;
    --grid-row-height: 16px;
    --grid-padding-top: 25px;
    --grid-gutter: 12px;

    /* text */
    --header-size: 3.5rem;
    --subheader-size: 1.5rem;
    --body-size: 1rem;

    /* scale calc */
    --mobile-scale-txt: 1;
    --desktop-scale-txt: 1;

    --mobile-scale-grid: 2.25;
    --desktop-scale-grid: 3;
}

/* ==============================================

playground

--------------------------------------------- */

@keyframes scroll-right {
    to { opacity: 100%; }
    0% {
        transform: translateX(-3%);
    }

    100% {
        transform: translateX(0%);

    }
}

@keyframes scroll-up {
    0% {
        transform: translateY(3%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
@keyframes scroll-down {
    0% {
        transform: translateY(-40%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
}

/* ==============================================

Base Styles

--------------------------------------------- */

/* general */



* {
    box-sizing: border-box;
    font-family: var(--font-f);
}

html {
    font-size: 100%;
}

body {
    background-color: var(--bg-colour);
}

.grid-top {
    grid-template-areas:
        ". lg lg lg lg lg lg lg lg lg lg . "
        ". lg lg lg lg lg lg lg lg lg lg . "
        ". lg lg lg lg lg lg lg lg lg lg . "
        ". hd hd hd hd hd hd hd hd hd hd . "
        ". hd hd hd hd hd hd hd hd hd hd . "
        ". hd hd hd hd hd hd hd hd hd hd . "
        ". . . tl tl tl tl tl tl . . ."
        ". . . lnk lnk lnk lnk lnk lnk . . ."
        ". . . lnk lnk lnk lnk lnk lnk . . ."
        ". . . pc pc pc pc pc pc . . .";

    margin: auto;
    width: var(--grid-width-max);
    padding-top: var(--grid-padding-top);

    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: var(--grid-row-height);
    gap: var(--grid-gutter);
}
.grid-bleed-top {
    grid-row: 1 / 3;
    grid-column: 1 /-1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: calc(50% - 100vh);
    background-color: var(--col5);
}

.grid-bleed-top-home {
    grid-row: 1 / 8;
    grid-column: 1 /-1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: calc(50% - 100vh);
    background-color: var(--col5);
}

h1 {
    color: var(--txt-colour);
    margin: 0;
    font-size: var(--header-size);
    padding: 0;
    overflow: hidden;
}

h2 {
    color: var(--txt-colour);
    margin: 0;
    font-size: var(--subheader-size);
}

p {
    color: var(--txt-colour);
    margin: 0;
    font-size: var(--body-size);
}

a {
    color: var(--link-colour);
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 100%;
    height: 100%;
    grid-area: lg;
    overflow: hidden;
    animation: scroll-up 0.3s ease-out;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.links {
    text-align: center;
    text-justify: inter-word;
    grid-area: lnk;
    font-size: var(--subheader-size);
    overflow: hidden;

    animation: scroll-right 0.3s ease forwards;
    animation-delay: 0.1s;
    opacity: 0;
}

.links ul {
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.links li {
    float: center;
    font-size: var(--subheader-size);
}

.links li:hover {
    background-color: var(--col5);
}

.tagline {
    color: var(--txt-colour);
    margin: 0px 0px;
    font-size: var(--subheader-size);
    word-wrap: break-word;
    text-align: center;
    grid-area: tl;
    overflow: hidden;

    animation: scroll-right 0.25s ease forwards;
    opacity: 0;
}
.homepage-header {
    float: center;
    text-align: center;
    grid-area: hd;

    animation: scroll-right 0.25s ease forwards;
    opacity: 0;
}

.page-content {
    grid-area: pc;

    animation: scroll-up 0.25s ease forwards;
    animation-delay: 0.15s;
    opacity: 0;
}

}
/*
-------------------------

medias

*/

/* mobile */

@media (min-width: 350px) {
    .grid-top {
        padding-top: calc(var(--grid-padding-top) * var(--mobile-scale-grid));
        grid-auto-rows: calc(var(--grid-row-height) * var(--mobile-scale-grid));
    }
    h1 {
        font-size: calc(var(--header-size) * var(--mobile-scale-txt));
    }

    h2 {
        font-size: calc(var(--subheader-size) * var(--mobile-scale-txt));
    }

    p {
        font-size: calc(var(--body-size) * var(--mobile-scale-txt));
    }

    .tagline {
        font-size: calc(var(--subheader-size) * var(--mobile-scale-txt));
    }

    .links li {
        font-size: calc(var(--subheader-size) * var(--mobile-scale-txt));
    }

}

/* desktop */

@media (min-width: 968px) {
    .grid-top {
        grid-template-areas:
            ". . . hd hd hd hd hd hd hd hd . "
            ". . . hd hd hd hd hd hd hd hd . "
            ". . . hd hd hd hd hd hd hd hd . "
            ". . . tl tl tl tl tl tl tl tl ."
            ". . . lnk lnk lnk lnk lnk lnk lnk lnk ."
            ". pc pc pc pc pc pc pc pc pc pc .";

        width: var(--grid-width-min);
        padding-top: calc(var(--grid-padding-top) * var(--desktop-scale-grid));
        grid-auto-rows: calc(
            var(--grid-row-height) * var(--desktop-scale-grid)
        );
    }

    h1 {
        font-size: calc(var(--header-size) * var(--desktop-scale-txt));
    }

    h2 {
        font-size: calc(var(--subheader-size) * var(--desktop-scale-txt));
    }

    .links li {
        font-size: calc(var(--subheader-size) * var(--desktop-scale-txt));
    }

    .tagline {
        text-align: right;
        font-size: calc(var(--subheader-size) * var(--desktop-scale-txt));
    }

    .links {
        text-align: right;
        font-size: calc(var(--subheader-size) * var(--desktop-scale-txt));
    }

    .links li {
        float: right;
    }

    .links li > a {
        padding-left: calc(var(--grid-gutter) * 2);
    }

    .logo {
        grid-column: 2 / span 5;
        grid-row: 1 / span 5;
    }
    .grid-bleed-top {
        grid-row: 1 / 3;
    }
    .grid-bleed-top-home {
        grid-row: 1 / 5;
    }
    .homepage-header {
        text-align: right;
    }
    }

}
